@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3gerdt');
  src:  url('fonts/icomoon.eot?3gerdt#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3gerdt') format('truetype'),
    url('fonts/icomoon.woff?3gerdt') format('woff'),
    url('fonts/icomoon.svg?3gerdt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ora:before {
  content: "\e908";
}
.icon-nl:before {
  content: "\e906";
}
.icon-nr:before {
  content: "\e907";
}
.icon-dash:before {
  content: "\f0ca";
}
.icon-plus:before {
  content: "\f05d";
}
.icon-home3:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-dehaze:before {
  content: "\e3c7";
}
.icon-chevron-down:before {
  content: "\e900";
}
.icon-chevron-left:before {
  content: "\e901";
}
.icon-chevron-right:before {
  content: "\e902";
}
.icon-chevron-up:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
